.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form.ui.form {
  max-width: 50%;
  margin: auto;
  margin-bottom: 5%;
}

h3.form-title {
  text-align: center;
  margin-top: 10%;
}

/* .profile-top-section {
  margin:auto;
} */

.profilepic {
  text-align: center;
}
.ui.medium.image {
  margin: auto;
}

.profilename {
  text-align: center;
}

button#edit.ui.button {
  font-size: 1rem;
  margin: 0 -1px;
  width: calc(100% + 2px);
}

div#cContent {
  max-width: 146px;
}

/* .ui.form .field > .selection.dropdown {
  width: %;
} */

form.ui.inverted.form.noteform {
  max-width: 75%;
  margin: auto;
  margin-bottom: 5%;
}

div.ui.selection.dropdown {
  max-width: 70%;
  margin-bottom: 14px;
}

button.ui.primary.right.floated.button.NHaddbutton {
  float: unset;
  margin-top: 8%;
  width: 25%;
}

button#notesub {
  width: 30%;
}

button#notes {
  width: 30%;
}

.ui.inverted.segment {
  min-height: calc(100vh - 442px);
}

.ui.inverted.vertical.center.aligned.segment {
  background-image: url(https://images.unsplash.com/photo-1522276498395-f4f68f7f8454?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2849&q=80);
  background-size: cover;
}

/* label {
  color: white;
} */

/* .ui.form .inline.field > label,
.ui.form .inline.field > p,
.ui.form .inline.fields .field > label,
.ui.form .inline.fields .field > p,
.ui.form .inline.fields > label {
  display: inline-block;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
  font-size: 0.92857143em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  text-transform: none;
} */

/* .ui.checkbox label,
.ui.checkbox + label {
  color: rgba(0,0,0,.87);
  transition: color 0.1s ease;
} */
/* .ui.inverted.segment.noteseg {
  min-height: calc(100vh - 157px);
} */
/* .ui.inverted.segment > .ui.header {
  color: #fff;
  display: contents;
} */
